.focusVideo {
    margin: 10vh 10px 10px 10px;
    height: 65vh;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.focusVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flashbang {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 50vw;
    height: 50vh;
}

.flashbang video {
    width: 100%;
    height: 100%;
}